.HeaderSection {
    background-position: top;
    background-image: url("res/queen_mary.jpg");
    background-repeat: no-repeat;
    background-size: 400px 200px;
    margin-right: 27px;
    padding-bottom: 55px;
}

.AppName {
    color: mediumblue;
    text-shadow: -1px -1px 0 white;
    padding-top: 30px;
    margin-left: 150px;
}

.TimetableBtn {
    margin-left: 260px;
    background-color: mediumblue;
    border: none;
    color: white;
    font-size: 13px;
    font-weight: bold;
    padding: 10px 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
