.App{
    background-image: url("Components/res/main.png");
    background-repeat: no-repeat;
    height: 800px;
    width: 400px;
    padding-left: 20px;
    padding-top: 80px;
    margin-left: 300px;
    margin-top: 60px;
}

