.App{
    background-image: url("Components/res/main.png");
    background-repeat: no-repeat;
    height: 800px;
    width: 400px;
    padding-left: 20px;
    padding-top: 80px;
    margin-left: 300px;
    margin-top: 60px;
}

.HeaderSection{
    background-color: navy;
    margin-right: 27px;
    padding-bottom: 60px;
}

.HeaderWeather{
    color: white;
    padding-top: 20px;
    margin-left: 150px;
}

.StudentID{
    color: white;
    margin-left: 285px;
}

.ChangeButton{
    margin-left: 297px;
}

